<%- include("_header") %>

<body>
  <h1>Jeu: Pierre/Paille/Ciseaux</h1>
    <p> Entrer votre choix et lancer la partie:</p>
  <table>
        <button id ="pierre" type="button" text="Pierre" >Pierre</button>
        <button id = "paille" type="button" text ="Paille">Paille</button>
        <button id = "ciseaux" type="button" text="Ciseaux">Ciseaux</button>
        <button type="button">Lancer</button>
        <th><a href="/games/create">Create</a></th>

   
  </table>
</body>

<%- include("_footer") %>